<p>
    <b>OBS:</b> Todas as funções estão definidas no arquivo view/frontend/web/js/samples.js.
</p>

<h1>Exemplos de JavaScript</h1>


<h2>Evento de clique</h2>
<p>
    Para vincular um evento de clique, adicione o data-bind <i>click</i> seguido do nome da
função definido no arquivo JS.
</p>
<span data-bind="click: myClickFunction">Clique em mim!</span>

<br/>
<br/>

<h2>Initialize</h2>
<p>
    Essa função é executada sempre que o arquivo JavaScript <b>inicia</b> ou <b>é utilizado dentro de outro JavaScript</b>.
    Observe o console de desenvolvedor.
</p>

<br/>
<br/>

<h2>After Render</h2>
<p>
    Esse data-bind é muito útil quando queremos executar algum código <b>apenas depois do
    componente ser renderizado</b>! O alerta exibido ao carregar essa página ocorre por causa de um afterRender!
    <br/>
    Dica: podemos passar parâmetros para a função. Exemplo: data-bind="afterRender: () => myFunction('myParameter')"
</p>
<span data-bind="afterRender: myAfterRenderFunction"></span>

<br/>
<br/>

<h2>Loader</h2>
<p>
    Esse é um data-bind dos mais úteis: criamos um efeito de Loading nos componentes que desejamos.
    E o melhor: é muito simples! Precisamos apenas definir uma variável que indica se o Loader
    está ativo e atrelá-la à alguma Tag HTML. Observe o exemplo abaixo.
</p>
<div style="width: 400px; height: 400px; background-color: yellow;" data-bind="blockLoader: myDivIsLoading">
    <button data-bind="click: loadMyDiv">Clique aqui para iniciar o loading</button>
</div>

<br/>
<br/>

<h2>Modal</h2>
<p>
    É possível criar um Modal de forma muito fácil no Magento 2. Observe o código fonte e clique
    no botão abaixo:
</p>
<button data-bind="click: openModal">Clique!</button>
<div id="my-modal" data-bind="afterRender: initModal">Heeey! Eu sou um modal!</div>

<style>
    h1, h2 {
        font-weight: bold;
    }
</style>
