<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <!-- Para acessar a página:
             /datasend/<pasta dentro de Controller/Adminhtml>/<nome do arquivo dentro de Controller> -->
        <route id="admindatasend" frontName="admindatasend">
            <module name="Caio_DataSend" />
        </route>
    </router>
</config>
